@font-face {
  font-family: 'Brandon Text';
  src: url('./fonts/brandon-text.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Bold';
  src: url('./fonts/brandon-text-bold.woff2') format('woff2');
  font-style: normal;
}

.nav-bar {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Brandon Text';

  .logo-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      color: #333;
      line-height: 1.4;
      width: 200px;

      .header-item {
        cursor: pointer;

        &:nth-child(1) {
          position: relative;
        }
      }
    }
  }
}