.search-form {
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
  top: 50px;
  right: -120px;
  padding: 10px;
  z-index: 25;
  position: absolute;
  cursor: default;
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;

  &.show {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .box {
    position: absolute;

    .box-arrow {
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      box-shadow: 5px 5px 8px -2px rgba(0,0,0,.11);
      background: #fff;
      width: 16px;
      height: 16px;
      position: relative;
      top: -20px;
      left: 260px;
      transform: rotate(-135deg);
    }
  }

  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    position: relative;

    .search-box-item {
      display: flex;
      justify-content: center;
      align-items: center;

      & input {
        border: 0;
        color: #333;
        font-family: 'Brandon Text';
        font-weight: 300;
        font-size: 0.95rem;
        line-height: 1.4;
        outline-width: 0;
        width: 390px;
  
        &::placeholder {
          color: rgba(51, 51, 51, 0.625);
        }
      }

      &:nth-child(2) {
        position: absolute;
        right: 0;
        font-size: 0.84rem;

        .item-clear {
          margin: 0 5px;

          & span {
            border-bottom: 2px solid #909695;
            padding-bottom: 0px;
            cursor: pointer;
          }

          &:nth-child(2) {

            .search-close {
              z-index: 7;
              cursor: pointer;
              
              & path {
                fill: none;
                stroke: #737373;
                stroke-linecap: round;
                stroke-miterlimit: 10;
              }
            }
          }
        }
      }
    }
  }

  .searchResults {
    color: #333;
    font-family: 'Brandon Text';
    font-size: 82%;
    font-weight: 300;
    line-height: 1.4;
    list-style-type: none;
    margin: 0 25px 0 25px;
    padding: 0;
  }
  
  .searchResults strong {
    font-family: 'Brandon Text Bold';
  }
  
  .searchResults li {
    margin: 10px 0 10px 0;
  }
  
  .featuredResult {
    color: #333;
    font-family: 'Brandon Text Bold';
    font-size: 0.9rem;
    line-height: 1.4;
    padding: 40px 55px;
  }
  
  .imgResultDiv ul {
    list-style: none;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  
  .imgResultDiv ul li {
    display: inline;
    padding-right: 20px;
  }
  
  .imgResult {
    width: 90px;
  }

}




