.cart-form {
  position: absolute;
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
  right: -8px;
  top: 60px;
  width: 365px;
  padding: 15px 5px;
  text-align: center;
  z-index: 23;
  cursor: default;
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  &.show {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
  }

  .box {
    position: absolute;

    .box-item {
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      box-shadow: 5px 5px 8px -2px rgba(0,0,0,.11);
      background: #fff;
      width: 16px;
      height: 16px;
      position: relative;
      top: -25px;
      left: 342px;
      transform: rotate(-135deg);
    }
  }

  & span {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #333;

    & u {
      cursor: pointer;
    }
  }
}

