.categories {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0 auto;

  .category {
    cursor: pointer;

    .subcategories {
      list-style: none;
      padding: 0;
      font-size: 13px;

      .subcategory-name {
        margin: 10px 0;
        border-bottom: 2px solid #fff;

        & span:hover {
          border-bottom: 2px solid #909695;
          padding-bottom: 0px;
        }
      }
    }
  }
}