.categories {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: #ffffffd9;
  z-index: 90;
  padding: 15px;

  .category {
    cursor: pointer;

    .subcategories {
      list-style: none;
      padding: 0;
      font-size: 13px;

      .subcategory-name {
        margin: 10px 0;
        border-bottom: 2px solid #ffffff00;

        & span:hover {
          border-bottom: 2px solid #909695;
          padding-bottom: 0px;
        }
      }
    }
  }
}