.categories {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-between;
  // width: 50%;
  margin: 0 auto;
  // padding: 5px 0 0 0;
  // height: 100px;
  // background-color: #eee;

  .category {
    cursor: pointer;

    .category-name {
      // margin-bottom: -5px;
    }

    .subcategories {
      list-style: none;
      padding: 0;
      font-size: 13px;

      .subcategory-name {
        margin: 10px 0;
        border-bottom: 2px solid #fff;

        &:hover {
          border-bottom: 2px solid #909695;
          padding-bottom: 0px;
        }
      }
    }
  }
}