.account-info {
  background: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.11);
  height: 220px;
  width: 250px;
  right: -5px;
  top: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 24;
  cursor: default;
  opacity: 0; 
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  &.show {
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
  }

  .box {
    position: absolute;

    .box-arrow {
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      box-shadow: 5px 5px 8px -2px rgba(0,0,0,.11);
      background: #fff;
      width: 16px;
      height: 16px;
      top: -112px;
      left: 157px;
      position: relative;
      transform: rotate(-135deg);
    }
  }

  .login-btn {
    background: #000;
    border-color: #000;
    color: #fff;
    font-weight: 400;
    padding: 10px 85px;
    margin: 0 auto;
    cursor: pointer;
  }

  .links {
    color: #333;
    font-size: 0.8rem;
    line-height: 1.4;
    list-style: none;
    padding: 0 20px;
    cursor: pointer;

    & li {
      margin: 15px 0 0 0;

      & span:hover {
        border-bottom: 2px solid #909695;
        padding-bottom: 0px;
      }
    }
  }
}


